#footer {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}
#footer a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}
#footer a:hover {
    text-decoration: underline;
}

#header img {
    width: 90px;
}

.text-platzi {
    color: #97c93e;
}

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}